<!DOCTYPE html>
<html>
  <head>
    <title>Assignments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Go Back ></a>
      </nav>
    </header>

    <main>
        <section>
          <h2>Summaries of the assignments</h2>
          <ul>
            <li>
              In homework 1 we converted binary numbers from positive to one's complement, two's complement, and more. 
              We also did some list manipulation for the programming part.
            </li>
            <li>
              In homework 2 we did work with sorting and searching algorithms such as selection sort and binary search. 
              We did some projectile simulations for the programming part.
            </li>
            <li>
              In homework 3 we explored recursion and implemented some functions using it. For the programming part we simulated water percolation.
            </li>
            <li>In homework 4 we created some objects and plotted statistics, such as "class average" and "Teacher pay".</li>
            <li>In homework 5 we used the pandas library to calculate and plot things like "skewness" and "kurtosis". </li>
          </ul>
        </section>

        <section>
          <h2>My favorite assignment this class was ...</h2>
          <p class="small-text">the midterm. I really liked removing the unwanted objects from the images because it showed that image editing is not as complex as it seems.</p>
          <p class="small-text">Modyifying an image by programmatically changing its data is cool!</p>
        </section>
    </main>
  </body>

</html>