<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <head>
    <body>
      <header>
        <h1>Hey! I am Etesam 👋</h1>
        <nav>
          <a href="/assignments">Assignments ></a>
        </nav>
        <nav>
          <a href="/classes">Classes ></a>
        </nav>
        <nav>
          <a href="https://www.reddit.com/">My favorite website ></a>
          </nav>
      </header>
      <main>
          <img width="250px" src="https://res.cloudinary.com/dz5ashos1/image/upload/v1589430121/github/Python%201006/t1kpf2dnmq67k8mnxevw.jpg"></img>
          <h2>I am a first year student.</h2>
          <h2>I intend to major in Computer Science.</h2>
      </main>
      
    </body>
</html>

